extends layout

block content
  div.pt-5
  .container
    .row
      .col-md-12
        .mx-auto
          h1 Cloud Speech-to-Text
          p NODE REST API
    .row.border
      .col-md-2.border
        p Methodo
        p.bg-success.text-white GET
        p.bg-success.text-white GET
        p.bg-success.text-white POST
      .col-md-2.border
        p Ruta
        p /
        p /buckets
        p /speech
      .col.md-4.border
        p Detalles
        p Ruta inicial con informacion de la API
        p Recibir informacion del bucket donde se encuentran archivos de prueba de google
        p Enviar un Base64 + Configuracion para transcribir o enviar un GSURI + configuracion
      .col-md-3.border
        p Errores
        p *
        p Sin conexion a internet
        p 404 no Transcripcion | 413 To Long String

