extends layout

block content
  div.pt-5
  .container
    .row
      .col-md-12
        .mx-auto
          h1 Cloud Speech-to-Text
          p NODE REST API
    .row
      .col-md-3
        p Methodo
        p.bg-success.text-white GET
      .col-md-3
        p Ruta
        p /
      .col.md-3
        p Detalles
        p Ruta inicial con informacion de la API

